body {
    background-image:url(Unknown-4.jpeg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
  
}
body, html {  height: 100%;margin: 0;}
         .bg {
         /* The image used */
         background-image: url(Unknown-4.jpeg);
         /* Full height */
         height: 100%;
         /* Center et dimensionnez l'image bien */
         background-position:center;
         background-repeat: repeat;
         background-size:cover;  }
h1{
    color: white;
}    
div{
    color: white;
    font-size: x-large;
    font-style: italic;
}     